img{
  max-height: 40%;
  max-width: 40%;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.balance{
  display: block;
  margin-left: 80%;
}
.mat-elevation-z8{
  padding: 1%;
}
.players{
  display: block;
  margin-right: 80%;
}
