<mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Register</h2>
        <mat-form-field class="full-width-input">
          <input matInput
          [(ngModel)]="player.name"
          type="text"
          formControlName="username"
          class="form-control"
          id="username"
          name="username"
          placeholder="Enter your name"
          >
          <mat-error>
            Username is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password"
          [(ngModel)]="player.password"
          class="form-control"
          id="password"
          formControlName="password"
          name="password"
          placeholder="Enter your password "
          >
          <mat-error>
            Password is required
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">Register</button>
      </form>
    </mat-card-content>
  </mat-card>
